header{
    margin-bottom: 5%;
};

.strong{

    font-weight:normal;

};

.h1{
    font-family:  Koulen,'Courier New', Courier, monospace;
    text-decoration: underline

}

.scale-utilities:hover{
    transform:scale(1.25);
    color:red;
};

.badge-utils{

        z-index: 1000;
}

.color-utils{

    color: red
};

.font-utils{

    font-size: 1.5 em
}

@media screen and (min-width: 900px) {

.btn-artcile-qyery{
    position: absolute;
    left: 15%;
    bottom: 15px;
    }
}