header{
    margin-bottom: 5%;
};

.strong{

    font-weight:normal;

};

.h1{
    font-family:  Koulen,'Courier New', Courier, monospace;
    text-decoration: underline

}


.scale-box:hover{
box-shadow: 10px 5px 5px red;
}


.scale-utilities:hover{
    transform:scale(1.05);
    color:red;
};

.badge-utils{

        z-index: 1000;
}

.color-utils{

    color: red
};

.font-utils{

    font-size: 1.5 em
}
